{% extends "hello/base.html" %}
{% load static %}

{% block title %}Subscribe{% endblock %}

{% block content %}
<div class="content text-center">
    <div class="container">
        <h1>Subscribe</h1>
        <br />
        <p id="report"></p>
        <form id="subscribe-form" action="{% url 'hello:add-status' %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <label>
                    {{ field.label_tag }}
                </label>
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button id="submit" class="btn btn-light" type="submit" value="Create Status">Kirim</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/subscribe.js' %}"></script>
{% endblock content %}
