{% extends "hello/base.html" %}
{% load static %}

{% block title %}Subscribe{% endblock %}

{% block content %}
<div class="content text-center">
    <div class="container">
        <h1>Daftar Subscriber</h1>
        <br />
        <p id="subscribers-list"></p>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/get-subscribers.js' %}"></script>
{% endblock content %}
