{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="William Gates">
        <meta name="google-signin-client_id" content="958782081053-pg3bg2ul602qnvcgifunl88omhspbh4c.apps.googleusercontent.com">

        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/fakeLoader.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <link id="current-theme" rel="stylesheet" href="{% static 'css/dark_theme.css' %}" type="text/css" />
        
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/typed.min.js' %}"></script>
        <script src="{% static 'js/fakeLoader.min.js' %}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <div id="fakeloader"></div>

        {% include 'hello/navbar.html' %}
        {% block content %}
        {% endblock %}

        <script type="text/javascript">
            var currentTheme = "dark";

            document.getElementById("theme").onclick = function () {
                if (currentTheme == "dark") {
                    document.getElementById("current-theme").href = "{% static 'css/light_theme.css' %}";
                    document.getElementById("navbar").classList.add("navbar-light");
                    document.getElementById("navbar").classList.add("bg-light");
                    document.getElementById("navbar").classList.remove("navbar-dark");
                    document.getElementById("navbar").classList.remove("bg-dark");
                    currentTheme = "light";
                }
                else if (currentTheme == "light") {
                    document.getElementById("current-theme").href = "{% static 'css/dark_theme.css' %}";
                    document.getElementById("navbar").classList.add("navbar-dark");
                    document.getElementById("navbar").classList.add("bg-dark");
                    document.getElementById("navbar").classList.remove("navbar-light");
                    document.getElementById("navbar").classList.remove("bg-light");
                    currentTheme = "dark";
                }
            };
        </script>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        </script>

        <script type="text/javascript">
            $("#fakeloader").fakeLoader();
        </script>

        <script type="text/javascript">
            $("#fakeloader").fakeLoader({
                timeToHide: 500,
                zIndex: "999",
                spinner: "spinner2",
                bgColor: "#000000"
            });
        </script>
    </body>
</html>
