{% extends "hello/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="content text-center">
    <div class="container">
        <h1>Hello apa kabar?</h1>
        <form class="status-form" action="{% url 'hello:add-status' %}" method="POST">
            {% csrf_token %}
            {% for field in status_form.visible_fields %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button id="submit" class="btn btn-light" type="submit" value="Create Status">Tambahkan</button>
        </form>
    </div>

    <div class="container">
        <div class="row">
            {% for status in statuses %}
                <div class="card">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <p class="card-text">
                            Waktu pengisian: {{ status.time }}<br /><br />
                            {{ status.text }}
                        </p>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <p class="card-text">
                            Kosong
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
