<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hello:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hello:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:books' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscribe:subscribe' %}">Subscribe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscribe:subscribers-list' %}">Subscribers List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:login' %}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:home' %}">Login Information</a>
            </li>
        </ul>
        <button id="theme" class="btn btn-outline-secondary my-2 my-sm-0 my-lg-0" type="submit">Change theme</button>
    </div>
</nav>
