{% extends "hello/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content text-center">
    <div class="container">
        <h1>Profil Saya</h1>
        <img id="profile-picture" src="https://dl.dropbox.com/s/3fyb4zwg0tzy7g8/picture.jpg?dl=0" alt="Self picture" />
        <h2>&gt; <span id="information"></span></h2><br />
        <p>Hai! Perkenalkan nama saya William Gates. Saya adalah mahasiswa jurusan Ilmu Komputer Universitas Indonesia angkatan 2017. Saya lahir di Rantauprapat pada tanggal 31 Juli 1999. Hobi saya adalah browsing dan bermain game. Sebelumnya, saya bersekolah di SMA Swasta Buddhis Jayanti. Salah satu alasan saya memilih jurusan Ilmu Komputer adalah karena saya tertarik dengan hal-hal yang berhubungan dengan teknologi. Selain itu, saya juga berharap agar saya bisa bekerja di perusahaan IT nantinya dan membangun startup sendiri.</p>
    </div>

    <div class="container" style="width: 50vw;">
        <button class="accordion">Pendidikan</button>
        <div class="panel">
            <p>(2017 - sekarang) Pendidikan Jenjang Sarjana<br />Universitas Indonesia</p>
        </div>

        <button class="accordion">Organisasi</button>
        <div class="panel">
            <p>(Januari 2018 - sekarang) KMBUI<br />Staf Departemen Website</p>
            <p>(Februari 2018 - sekarang) BEM Fasilkom UI<br />Staf Biro Pengembangan Teknologi Informasi</p>
            <p>(Maret 2018 - sekarang) Ristek Fasilkom UI<br />Junior member SIG Embedded System</p>
        </div>

        <button class="accordion">Prestasi</button>
        <div class="panel">
            <p>(2015) OSN Tingkat Kabupaten<br />Peringkat 1 bidang Informatika/Komputer</p>
            <p>(2015) FLS2N Tingkat Kabupaten<br />Peringkat 1 bidang Desain Poster</p>
            <p>(2016) OSN Tingkat Kabupaten<br />Peringkat 1 bidang Informatika/Komputer</p>
            <p>(2018) Gemastik 11<br />Peringkat 2 bidang Piranti Cerdas, Sistem Benam, dan IoT</p>
        </div>
    </div>

    <script type="text/javascript">
        var typed = new Typed("#information", {
            strings: ["NAMA^500 - WILLIAM GATES",
                      "NPM^500 - 1706040044"],
            typeSpeed: 40,
            loop: true
        });
    </script>

    <script>
        // (function(){
        //     $.getJSON("http://127.0.0.1:8000/static/js/data.json", function(result){
        //         $.each(result, function(i, field){
        //             $("#organization").append(field.name + "<br />");
        //         });
        //     });
        // })();
        (function() {
            $.ajax({
                type: "json",
                method: "GET",
                url: "http://127.0.0.1:8000/static/js/data.json",
                success: function(data) {
                    for (var i = 0; i < data.length; ++i) {
                        $("#organization").append(data[i].name + "<br />");
                    }
                }
            });
        })();
    </script>
</div>
{% endblock %}
