body {
    align-items: center;
    /* background-color: #000000;
    color: #FFFFFF; */
}

.card {
    margin: 10px auto;
    width: 30%;
}

.card-text {
    /* color: #000000; */
    font-size: 20px;
    vertical-align: middle;
}

.container {
    margin: 50px auto;
}

.status-form {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
    width: 100%;
}

.status-form .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

#profile-picture {
    border-radius: 10rem;
    height: 10rem;
    margin: 20px auto;
    width: 10rem;
}

.accordion {
    background-color: #EEEEEE;
    color: #444444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #CCCCCC; 
}

.panel {
    padding: 18px 18px;
    display: none;
    background-color: #FFFFFF;
    overflow: hidden;
    color: #000000;
}

.error-report {
    color: red;
}

.success-report {
    color: green;
}
