{% extends "hello/base.html" %}
{% load static %}

{% block title %}List of Books{% endblock %}

{% block content %}
<div class="content">
    <div class="container text-center">
        <img src="{% static 'img/star1.png' %}" width="50" />
        <h3>{{ name }}'s total favorites: <span id="favorite_count">{{ count }}</span></h3>
    </div>

    <div class="container text-center">
        <button type="button" class="btn btn-secondary search-button" value="quilting">Quilting</button>
        <button type="button" class="btn btn-secondary search-button" value="programming">Programming</button>
        <button type="button" class="btn btn-secondary search-button" value="business">Business</button>
        <button type="button" class="btn btn-secondary search-button" value="hacking">Hacking</button>
        <button type="button" class="btn btn-secondary search-button" value="game">Game</button>
    </div>

    <div class="container">
        <table class="table" style="width: 100%;">
            <thead>
                <tr class="text-center">
                    <th width="40%">Title</th>
                    <th width="20%">Authors</th>
                    <th width="20%">Publisher</th>
                    <th width="15%">Published Date</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/get_books.js' %}"></script>
{% endblock%}
