{% extends "hello/base.html" %}

{% block content %}
<div class="content text-center">
    <div class="container">
        <h1>Selamat datang, {{ user.name }}!</h1>
        <img id="profile-picture" src="{{ user.picture }}" />
        <h3>Nama: {{ user.name }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Id: {{ user.user_id }}</h3>
    </div>

    <div class="container">
        <p>Go to the "Books" page by clicking "Books" in the navbar!</p>
        <button class="btn btn-light" onclick="signOut()">Sign out</a></div>
    </div>
</div>

<script>
    function signOut() {
        document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://lab-ppw-baru.herokuapp.com/books/logout/";
    } 
</script>
{% endblock %}
