{% extends "hello/base.html" %}

{% block content %}
{% csrf_token %}
<style>
    .g-signin2 {
        width: 100%;
    }

    .g-signin2 > div{
        margin: 0 auto;
    }
</style>

<div class="content text-center">
    <div class="container">
        <h1>Sign in</h1>
        <br />
        <span class="g-signin2" data-onsuccess="onSignIn"></span>
    </div>
</div>

<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token
        sendToken(id_token)
    }

    var sendToken = function(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/books/login/",
            headers:{
                "X-CSRFToken": csrftoken
            },
            data: {id_token: token},
            success: function(result) {
                if (result.status === "0") {
                    window.location.replace(result.url)
                } else {
                    alert("Error")
                }
            },
            error: function (error) {
                alert("Error")
            }
        })
    };
</script>
{% endblock %}
